<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- commons.htmlより<head>タグを読み込み -->
<!-- 読み込むとこのHTML用の「bfmk01View.css」が読み込めないので、<head>タグを仮置き中 -->
<!-- <head th:replace="commons :: base_header"> -->
    <!-- <div th:include="commons :: base_header"></div> -->
    <!-- <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bfmk01View.css}"> -->
<!-- </head> -->

<!-- 仮置きの<head>タグ -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- タイトルのフォーマット -->
    <title>B-FORME Java プロジェクト : 製品・部材情報</title>
    <!--/* 必ず読み込むファイル */-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/common.css}" href="common.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bfmk05View.css}">
</head>

<body>
    <!-- ヘッダー部の読み込み 
    <div th:replace="commons :: header"></div>-->

    <!-- ユーザー情報の登録 or 更新画面 -->
    <form method ="post" th:object="${productInfoForm}">
    <table class="user_info_table">
        <tr>
            <td class="table_border search_name_color search_name_width">品番*</td>
            <td colspan="3" class="table_border search_value_color"><input class="input_large" type="text" th:field="*{itemCd}"></td>
        </tr>
        <tr>
            <td class="table_border search_name_color search_name_width">品名*</td>
            <td class="table_border search_value_color"><input class="input_large" type="text" th:field="*{itemName}"></td>
            <td class="table_border search_name_color search_name_width">品名略称</td>
            <td class="table_border search_value_color"><input class="input_large" type="text" th:field="*{itemNameR}"></td>       
        </tr>
        <tr>
            <td class="table_border search_name_color search_name_width">品名区分</td>
            <td colspan="3" class="table_border search_value_color">
                <input type="radio" value=1 th:field="*{itemDiv}">
                <label for="auth_div_guest"   class="auth_div_guest" >製品</label>
                <input type="radio" value=2 th:field="*{itemDiv}">
                <label for="auth_div_general" class="auth_div_general">特注品</label>
                <input type="radio" value=3 th:field="*{itemDiv}">
                <label for="auth_div_manager" class="auth_div_manager">部材</label>
            </td>
        </tr>
        <tr>
            <td class="table_border search_name_color search_name_width">有効期限日*</td>
            <td colspan="3" class="table_border search_value_color">
                <input class="input_date" type="date" th:field="*{expireDateFrom}">
                    ～
                <input class="input_date" type="date" th:field="*{expireDateTo}">
            </td>
        </tr>
        <tr>
           <td class="table_border search_name_color search_name_width">工期</td>
            <td colspan="3" class="table_border search_value_color"><input class="input_medium" type="text" style="text-align:right" th:field="*{construction}" pattern="^[1-9][0-9]*$">日</td>
        </tr>
        <tr>
            <td class="table_border search_name_color search_name_width">部材</td>
            <td colspan="3" class="table_border search_value_color">
            <div class="component_color">
                <button type="submit" th:formaction="@{/b-forme_Kojo/pc/205/deleteRow}" id="deleteRow" class="btn_row_delete btn_active">行削除</button>
                <button type="submit" th:formaction="@{/b-forme_Kojo/pc/205/addRow}" id="addRow" class="btn_row_add btn_active">行追加</button>
                <table class="user_table" id="componentTable"> 
                    <thead>
                    <tr>
                        <th class="search_name_color"></th>
                        <th class="search_name_color component_large">部材ID</th>
                        <th class="search_name_color component_small">数量</th>
                        <th class="search_name_color component_small">単位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="com, st : *{componentList}">
                        <td class="table_border search_name_color">
                            <input type="checkbox" th:field="*{componentList[__${st.index}__].deleteFlg}">
                        </td>
                        <td class="table_border search_name_color">
                            <input class="input_medium" type="text"  th:field="*{componentList[__${st.index}__].materialId}">
                        </td>
                        <td class="table_border search_name_color">
                            <input class="input_small" type="text" style="text-align:right" th:field="*{componentList[__${st.index}__].reqQty}" pattern="^[1-9][0-9]*$">
                        </td>
                        <td class="table_border search_name_color">
                            <input class="input_small" type="text" style="text-align:right" th:field="*{componentList[__${st.index}__].unit}">
                        </td>
                    </tr>                        
                 </tbody>        
                </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" onclick="location.href='/b-forme_Kojo/pc/205/back'" id="back" class="btn_return btn_active">戻る</button>
            </td>
            <td colspan="3">
                <!-- 「メッセージ」欄 -->
                <input type="text" id="message" class="message" th:if="${successFlg}" th:value="${message}" readonly="readonly">
                <input type="text" id="message" class="message" th:unless="${successFlg}" th:value="${message}" readonly="readonly" style="color: red;" >
                <button type="submit" th:formaction="@{/b-forme_Kojo/pc/205/clear}" id="clear" class="btn_clear btn_active" th:if="${dispId == 'bfmk05'}">クリア</button>
                <button type="submit" th:formaction="@{'/b-forme_Kojo/pc/205/clear?itemCd=' + ${productInfoForm.itemCd}}" id="clear" class="btn_clear btn_active" th:if="${dispId == 'bfmk06'}">クリア</button>
                <button type="submit" th:formaction="@{/b-forme_Kojo/pc/205/register}" id="register" class="btn_clear btn_active" th:if="${dispId == 'bfmk05'}">登録</button>
                <button type="submit" th:formaction="@{/b-forme_Kojo/pc/205/update}" id="update" class="btn_clear btn_active" th:if="${dispId == 'bfmk06'}">更新</button>
                <input type="hidden" th:id="tmpDispId" th:name="tmpDispId" th:value="${dispId}"/>
            </td>
        </tr>
    </table>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	</form>
    <!-- JQueryの読み込み -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
    <!-- JavaScriptの読み込み -->
    <!-- <script th:src=@{/js/common.js} type="text/javascript"></script> -->
    <script type="text/javascript" src="/js/bfmk05View.js"></script>
</body>
</html>